<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.back.mapper.menuAuth.MenuAuthMapper">
    <select id="countAll" resultType="int">
        SELECT COUNT(*) FROM tb_menu_auth
    </select>

    <select id="select" parameterType="map" resultType="Map">
        select a.code as menu_code, 
               a.name, 
               COALESCE(b.use_yn,'N') as use_yn,
               COALESCE(b.c_yn,'N') as c_yn, 
               COALESCE(b.r_yn,'N') as r_yn, 
               COALESCE(b.d_yn,'N') as d_yn 
          from tb_menu a
          left outer join tb_menu_auth b on a.code = b.menucode 
         where 1=1 
           <if test="menu_code != null and menu_code != ''">
           and a.code = #{menu_code} 
          </if> 
          <if test="role_id != null and role_id != ''">
           and b.role_id = #{role_id} 
          </if> 

    </select>

    <insert id="insert" parameterType="map">
        insert into tb_menu_auth (
            menucode
           ,role_id
           ,c_yn
           ,r_yn
           ,d_yn
           ,use_yn
           ,update_by
           ,update_dt
        ) values (
            #{menu_code}
           ,#{role_id}
           ,COALESCE(#{cYn}, 'N')
           ,COALESCE(#{rYn}, 'N')
           ,COALESCE(#{dYn}, 'N')
           ,COALESCE(#{useYn}, 'N')
           ,#{updateBy}
           ,NOW()
        )
    </insert>

    <update id="update" parameterType="map">
        update tb_menu_auth
           set c_yn = #{cYn}
              ,r_yn = #{rYn}
              ,d_yn = #{dYn}
              ,use_yn = #{useYn}
              ,update_by = #{updateBy}
              ,update_dt = NOW()
         where 1=1
           and menucode = #{menu_code}
           and role_id = #{role_id}
    </update>    

    <delete id="delete" parameterType="map">
        delete 
          from tb_menu_auth
         where 1=1
           and menucode = #{menu_code}
           and role_id = #{role_id}
    </delete>
</mapper>