<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.back.mapper.menu.MenuMapper">
    <select id="selectMenuList" parameterType="map" resultType="Map">
        select a.code
              ,a.name
              ,a.path
              ,a.level
              ,a.order
              ,a.parentcode
              ,a.use_yn
              ,a.module
              ,COALESCE(a.is_pop, 'N') as is_pop
              ,a.view_path
              ,a.create_by
              ,a.create_dt
              ,a.update_by
              ,a.update_dt
          from tb_menu a
         where 1=1 
        <if test="code != null and code != ''">
           AND a.code = #{code}
        </if>
        <if test="useYn != null and useYn != ''">
           AND a.use_yn = #{useYn}
        </if>
        <if test="role_id != null and role_id != ''">
           AND a.code in (
                select menucode
                from tb_menu_auth
                where use_yn = 'Y'
                and role_id = #{role_id}
            )
        </if>
         order by a.order
    </select>

    <select id="createNewMenuCode" resultType="String">
        SELECT 'M' || LPAD((COALESCE(MAX(CAST(REPLACE(code, 'M', '') AS INTEGER)), 0) + 1)::text, 3, '0') AS new_key 
          FROM tb_menu
    </select>  

    <insert id="insert" parameterType="map">
        insert into tb_menu(
            code
          , name
          , path
          , level
          , "order"
          , parentcode
          , use_yn
          , module
          , view_path
          , is_pop
          , create_by
          , create_dt
        )
        values (
            #{code}
          , #{name}
          , #{path}
          , #{level}
          , #{order}
          , #{parentcode}
          , #{use_yn}
          , #{module}
          , #{view_path}
          , #{is_pop}
          , #{createBy}
          , now()
        )
    </insert>

    <update id="update" parameterType="map" >
        update tb_menu
           set name = #{name}
             , path = #{path}
             , level = #{level}
             , "order" = #{order}
             , parentcode = #{parentcode}
             , use_yn = #{use_yn}
             , module = #{module}
             , view_path = #{view_path}
             , is_pop = #{is_pop}
             , update_by = #{updateBy}
             , update_dt = now()
         where code = #{code}
    </update>

    <delete id="delete" parameterType="map">
        delete 
          from tb_menu
         where code = #{code}
    </delete>
</mapper>