<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.back.mapper.code.CodeMapper">

    <select id="selectMstCodeList" parameterType="map" resultType="map">
         select a.mst_cd
                ,a.mst_nm
                ,a.use_yn
                ,a.remark
                ,a.attr1
                ,a.attr2
                ,a.attr3
           from tb_common_code_mst a
          where 1=1 
            <if test="mst_cd != null and mst_cd != ''">
            and a.mst_cd like CONCAT('%', #{mst_cd}, '%')
            </if>
            <if test="mst_nm != null and mst_nm != ''">
            and a.mst_nm like CONCAT('%', #{mst_nm}, '%')
            </if>
    </select>

    <select id="selectDtlCodeList" parameterType="map" resultType="map">
          select a.mst_cd
                ,a.dtl_cd
                ,a.dtl_nm
                ,a.use_yn
                ,a.remark
                ,a.attr1
                ,a.attr2
                ,a.attr3
            from tb_common_code_dtl a
           where a.mst_cd = #{mst_cd}
    </select>

    <insert id="insert" parameterType="map">
        insert into tb_common_code_dtl (
            mst_cd, 
            dtl_cd, 
            dtl_nm, 
            use_yn, 
            remark, 
            attr1, 
            attr2, 
            attr3,
            create_by,
            create_dt
        )
        values (
            #{mst_cd}, 
            #{dtl_cd}, 
            #{dtl_nm}, 
            #{use_yn}, 
            #{remark}, 
            #{attr1}, 
            #{attr2}, 
            #{attr3},
            #{createBy},
            now()
        )    
    </insert>

    <update id="update" parameterType="map">
        update tb_common_code_dtl
           set dtl_nm = #{dtl_nm},
               use_yn = #{use_yn},
               remark = #{remark},
               attr1 = #{attr1},
               attr2 = #{attr2},
               attr3 = #{attr3},
               update_by = #{updateBy},
               update_dt = now()
         where mst_cd = #{mst_cd} 
           and dtl_cd = #{dtl_cd}
    </update>

    <delete id="delete" parameterType="map">
        delete 
          from tb_common_code_dtl
         where mst_cd = #{mst_cd} 
           and dtl_cd = #{dtl_cd}
    </delete>

</mapper>