<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.back.mapper.s1000d.S1000DMapper">
    
    <select id="getDescriptiveDm1" parameterType="java.util.Map" resultType="map">
        SELECT 
            m.dmc_id,
            xt.para_id,      -- 단락 ID (참조용)
            xt.para_title,   -- 단락 제목 (General, 구조 등)
            CAST(xt.para_content AS TEXT) as para_content -- 단락 내부의 실제 텍스트 및 하위 태그들
        FROM csdb_data_modules m,
        XMLTABLE('//*[local-name()="description"]/*[local-name()="levelledPara"]' PASSING m.content
            COLUMNS 
                para_id      TEXT PATH '@id',
                para_title   TEXT PATH '*[local-name()="title"]',
                -- para 태그들을 텍스트로 합쳐서 가져오거나 XML 통째로 가져옴
                para_content XML  PATH '.' 
        ) xt
        WHERE m.dmc_id = #{dmcid}
    </select>

    <select id="getDescriptiveDm2" parameterType="java.util.Map" resultType="map">
        SELECT json_build_object(
            'dmc', dmc_id,
            'metadata', (
                SELECT row_to_json(xt) FROM XMLTABLE('/dmodule/identAndStatusSection' PASSING content
                    COLUMNS 
                        techName TEXT PATH 'dmAddress/dmAddressItems/dmTitle/techName',
                        infoName TEXT PATH 'dmAddress/dmAddressItems/dmTitle/infoName',
                        security TEXT PATH 'dmStatus/security/@securityClassification'
                ) xt
            ),
            -- 본문(content) 태그만 쏙 뽑아서 문자열로 전달
            'body_xml', (xpath('//*[local-name()="content"]', content))[1]::text
        )::text as ietm_data 
        FROM csdb_data_modules 
        WHERE dmc_id = #{dmcid}
    </select>
    
    <insert id="insertFileInfo">
        INSERT INTO csdb_data_modules (
             dmc_id,
             content,
             updated_at 
        ) VALUES (
             #{dmcId},
             #{xmlContent}::xml,
             NOW()
        )
        ON CONFLICT (dmc_id) 
        DO UPDATE SET
             content = EXCLUDED.content,
             updated_at = NOW()
    </insert>
</mapper>